@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --black: #181722;
    --white: #F0F0F0;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border-radius: 5rem;
}

.header {
    background-color: var(--white);
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 5%;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
}

.header .logoContent {
    display: flex;
    align-items: center;
}

.header .logoContent .logoName {
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;
}

.header .navbar a {
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--black);
}

.header .navbar a:hover {
    border-bottom: .1rem solid var(--black);
    padding-bottom: .4rem;
}

.header .icon i {
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--black);
    cursor: pointer;
}

.header .search {
    display: none;
    top: 100%;
    margin: 1.5rem 5%;
    background-color: transparent;
    height: 5rem;
    position: absolute;
    right: 0;
    width: 50%;
}

.header .search input {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    background-color: var(--white);
    color: var(--black);
    margin-right: 7%;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: var(--box-shadow);
}

.header .search.active {
    display: inline-block;
}

#menu-bar {
    display: none;
}


.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background2.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.home .homeContent {
    width: 50%;
    text-align: left;
    padding: 4rem;
}

.home .homeContent h2 {
    font-size: 7rem;
    font-weight: bolder;
    line-height: 6rem;
    margin-bottom: 2rem;
    color: var(--black);
    text-shadow: var(--box-shadow);
}

.home .homeContent p {
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 3rem;
}

.home .homeContent .home-btn {
    height: 3rem;
}

.home .homeContent .home-btn button {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: var(--black);
    color: var(--white);
    border-radius: .7rem;
    padding: .7rem 2.4rem;
    cursor: pointer;
}

.home .homeContent .home-btn button:hover {
    font-size: 2rem;
}

.product {
    padding: 2rem 4%;
}

.product .box img {
    border-radius: 50%;
    border: 1rem solid white;
}

.product .product-row .img img {
    width: 100%;
    height: 100%;
}

.product .product-row .img img:hover {
    transform: scale(1.1);
}

.heading {
    text-align: center;
    font-size: 3rem;
    margin: 5rem;
    color: var(--black);
}

.product .row {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
}

.product .product-row .box {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 1.5rem;
    width: 50rem;
    border-radius: 1rem;
}

.product .product-row .product-content {
    margin-bottom: 4rem;
    flex-wrap: wrap;
}

.product .product-row .product-content h3 {
    font-size: 4rem;
    color: var(--black);
}

.product .product-row .product-content p {
    font-size: 1.5rem;
    color: var(--black);
}

.product .product-row .product-content .orderNow {
    height: 3rem;
    margin-top: 2rem;
}

.product .product-row .product-content .orderNow button {
    font-size: 1.8rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: .7rem;
    padding: .7rem 2rem;
    cursor: pointer;
}

.product .product-row .product-content .orderNow button:hover {
    font-size: 2rem;
}




.swiper-pagination-bullet {
    background-color: var(--black);
}


.blogs .blogs-row .box {
    display: flex;
    padding: 5rem;
    background-color: var(--white);
}


.blogs .blogs-row .box img {
    border-radius: 50%;
    padding: 3rem;
    width: 430px;
}

.blogs .blogs-row .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 7rem;
}

.blogs .blogs-row .content h3 {
    font-size: 3rem;
    color: var(--black);
    text-shadow: var(--box-shadow);
    padding: 1rem;
}

.blogs .blogs-row .content p {
    font-size: 1.6rem;
    padding: 1rem;
    line-height: 1.8;
}

.blogs .blogs-row .content a.btn {
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem;
}

.blogs .blogs-row .content a.btn:hover {
    color: var(--black);
    text-shadow: var(--box-shadow);
}

























/* media queries for responsive web */
@media (max-width:1100px) {
    .blogs .blogs-row {
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.3rem 3rem;
    }

    .blogs .blogs-row .box img {
        width: 300px;
    }
}

@media (max-width:768px) {
    #menu-bar {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 25rem;
        background-color: var(--white);
        height: 80vh;
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        display: block;
        font-size: 2rem;
        color: black;
        margin: 3rem;
        font-weight: bold;
    }

    .blogs .blogs-row .box {
        text-align: center;
    }

    .blogs .blogs-row .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width:600px) {
    html {
        font-size: 50%;
    }
}